@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: block;
    background: url(Thomas.jpg);
    height: 100vh;

}
.header{

    width: 100%;
    background: rgb(175, 244, 244);
    padding: 25px 25px;
    top: 0;
    background: linear-gradient(135deg,#067D58,#50D5B7);
    z-index: +1;
}
.header .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #fff;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    

}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#067D58,#50D5B7);

}
.container-box{
    max-width: 700px;
    width: 100%;
    background-color: azure;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);

}
.container-box form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 0px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3 ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #067D58;
}
form .gender-details .gen-title{
    font-size: 20px;
    font-weight: 500;

}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    padding-top: 5px;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d7c8c8;
    border-radius: 50%;
    margin-right: 5px;
    border: 5px solid transparent;
    transition: all 0.3 ease;

}
#male:checked ~ .category label .one,
#female:checked ~ .category label .two,
#not:checked ~ .category label .three{
    border-color: #d7c8c8;
    background-color: #067D58;
}
form input[type="radio"]{
    display: none;

}
form .agree {
    display: flex;
    width: 80%;
    margin: 14px 0 ;
}
.agree label{
    display: flex;
    padding-top: 5px;
    align-items: center;
}
.agree .squaree{
    height: 18px;
    width: 18px;
    background: #d7c8c8;
    margin-right: 5px;
    border: 5px solid transparent;
    transition: all 0.3 ease;
}
#imagree ~ .agree label .squaree{
    border-color: #d7c8c8;
    background-color: #067D58;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg,#50D5B7, #067D58);


}
form .button input:hover{
    background: linear-gradient(135deg,#067D58,#50D5B7 );


}
.footer{
    display: flex;
    width: 100%;
    color: #fff;
    background: #067D58;
    padding: 5px;

    justify-content: center;
    bottom: 0;
}
@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    form .category{
    width: 100%;
    }
    .container-box form .user-details{
    max-height: 250px;
    overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
    width: 0px;
    } 

}
@media(max-width: 459px){
    .container .container-box .category{
        flex-direction: column;
    }
}

